.followButton {
  color: #fff;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.61455px;
    text-transform: uppercase;
    padding: 14px 70px;
    border: 1px solid #D40D26;
    border-radius: 50px;
    background: #D40D26;
    outline: none;
    position: relative;
    transition: 0.1s all;
    display: block;
    font-size: 14px;
    box-shadow: 0px 0px 30px rgba(225, 41, 66, 0.7);
    cursor: pointer;

    &:hover {
          box-shadow: none;
    }

  .spinner {
    content: '';
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
    border-radius: 50%;
    border-top: 2px solid #0076ff;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
  }

  .unfollowText {
    display: none;
  }
}

.followButton.isFollowing:hover {
  .followText { display: none; }
  .unfollowText { display: inline; }
}

.followButton.isFollowing {
  background-color: #0076ff;
  color: white;

  .spinner {
    border-top: 2px solid white;
  }
}

.followButton.white {
  color: white;
  border: solid 1px white;

  .spinner {
    border-top: 2px solid white;
  }
}

.followButton.white.isFollowing {
  background-color: white;
  color: #001d35;

  .spinner {
    border-top: 2px solid #001d35;
  }
}

.followButton.bigButton {
    color: #fff;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.61455px;
    text-transform: uppercase;
    padding: 14px 40px;
    border: 1px solid #D40D26;
    border-radius: 50px;
    background: #D40D26;
    outline: none;
    position: relative;
    transition: 0.1s all;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0px 0px 30px rgba(225, 41, 66, 0.7);

    &:hover {
          box-shadow: none;
    }

  .spinner {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-top: 2px solid white;
  }
}

.followButton.bigButton.isFollowing {
  color: #0071ff;
  background-color: white;

  .spinner {
    border-top: 2px solid #0376ff;
  }
}

.followButton.pending {
  span {
    padding-left: 16px;
  }

  .spinner {
    display: block;
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
