.loading {
  &.global {
    position: fixed;
    top: 50%;
    left: calc(50% - -150px);
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
}


@media (max-width: 992px) {
    .loading {
        &.global {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}