.modalWindow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all .25s ease;
  border-radius: 10px;
  z-index: 99999999999999999;
  background: #fff;
}

.header {
  background-color: #fff;
  padding: 20px 30px;
  // color: $white;
  z-index: 100000;
  position: relative;
  border-radius: 15px 15px 0 0;
  // font-size: 21px;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #010B2B;
  font-family: TransatMedium;
  border-bottom: $gray-border-2;
}

.body {
  height: 100%;
  padding: 20px;
  background-color: white;
}

.footer {
  padding: 10px 30px 40px 30px;
  // border-top: $gray-border-2;
  background: white;
  border-radius: 0 0 15px 15px;
  position: relative;
  text-align: center;
}

.footer::after {
  content: "";
  clear: right;
}

@media only screen and (max-width: 425px) {
  .modalWindow {
    top: 0;
    left: 0;
    transform: none;
    width: 100% !important;
    border-radius: 0;
  }

  .header {
    border-radius: 0;
  }

  .footer {
    border-radius: 0;
  }
}