.schemeContainer {
  padding-bottom: 150px;
  position: relative;
}

.schemeName {
  font-size: 28px;
  color: #fff;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  // background-color: #e5ebf2;
  // padding-top: 10px;
}

.createProposal {
  z-index: 100;
  // width: 100%;
  text-align: right;

  a {
    padding: 6px 15px;
    font-family: Montserrat !important;
    font-weight: 400 !important;
    color: #D40D26 !important;
    letter-spacing: 1.2px;
    background: #FFFFFF;
    border-radius: 30px;
    // height: 30px;
    line-height: 30px;
    font-size: 13px !important;
    white-space: nowrap;

    // &:hover {
    //   background-color: $accent-1;
    //   color: $white;
    // }

    &.disabled,
    &.disabled:hover {
      background-color: rgba(200, 200, 200, 0.5);
      border: 1px solid rgba(200, 200, 200, 1);
      cursor: not-allowed;
    }
  }
}



.blockCont {
  line-height: normal;
  position: relative;
  // padding: 20px 40px;

  & > div {
    position: relative;


    h3 {
      background: rgba(196, 196, 196, 0.1);
      font-family: TransatStandard;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.02em;
      padding: 20px 35px;
    }

  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.05);
    opacity: 0.8;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    backdrop-filter: blur(40px);
  }
}


.schemeMenu {
  color: #fff;
  width: 100%;
  // background-color: rgba(229, 235, 242, 1);
  // border-bottom: 1px solid rgba(212, 220, 228, 1);
  padding-top: 15px;
  position: relative;
  // margin-bottom: 20px;

    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;

  a {
    color: #ffffff52;
    display: inline-block;
    font-size: 16px;
    transition: all 0.25s ease;

    font-family: TransatBold;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  // a:visited {
  //   color: rgba(0, 29, 53, 1);
  // }

  .createProposal a:visited,
  a.createProposal {
    // color: white;
    color: #D40D26;
  }

  .proposals,
  .info,
  .crx,
  .openbounty {
    // border-bottom: 2px solid rgba(34, 128, 254, 0);
    /* TODO: for .crx this left/right padding may not be appropriate for all CrX rewarder contracts. */
    padding: 20px 40px;
  }

  .proposals.active,
  .info.active,
  .crx.active,
  .openbounty.active {
    // border-bottom: 2px solid rgba(34, 128, 254, 1);
    position: relative;
    color: #fff;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.05);
      opacity: 0.8;
      border: 1px solid rgba(255, 255, 255, 0.05);
      border-bottom: 0;
      box-sizing: border-box;
      backdrop-filter: blur(40px);
      z-index: -1;
    }
  }

  // .proposals:hover,
  // .info:hover,
  // .crx:hover,
  // .openbounty:hover {
  //   border-bottom: 2px solid rgba(34, 128, 254, 0.5);
  // }
}

.schemeRedemptionContainer {
  max-width: 610px;
  margin: 80px auto;
  background-color: $white;
  border-radius: 15px;

  .fields {
    padding: 50px;
  }

  h3 {
    font-size: 28px;
    text-align: center;
    font-family: "AccordBold";
    margin-top: 0;
    margin-bottom: 50px;
  }

  b {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
  }

  label {
    font-family: "Open Sans";
    font-size: 13px;
    margin-left: 5px;
  }

  div div {
    margin-bottom: 15px;
  }

  .redemptionAddress {
    display: block;

    label {
      display: block;
      font-size: 16px;
      font-weight: bold;
      font-family: "AccordBold";
      margin-bottom: 18px;
    }

    input {
      width: 90%;
      width: -webkit-fill-available;
      border: 1px solid rgba(191, 203, 213, 1);
      padding: 10px 15px;
      color: rgba(0, 29, 53, 1);
      font-size: 13px;
    }
  }

  .redemptionButton {
    padding: 20px;
    border-top: 1px solid rgba(233, 238, 244, 1);
    text-align: right;

    button img {
      width: 15px;
    }

    button:disabled {
      background-color: rgba(200, 200, 200, 0.5);
      border: 1px solid rgba(200, 200, 200, 1);
      color: rgba(75, 75, 75, 1);
      cursor: not-allowed;
    }
  }

  button {
    background-color: rgba(0, 118, 255, 1);
    color: $white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans";
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 30px;

    img {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .createProposal {
    text-align: center;
  }

  .schemeName {
    font-size: 18px;
    padding-left: 15px;
  }

  .schemeRedemptionContainer {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
  }

  .schemeMenu {
    a {
      font-size: 12px;
    }
  }
}

:global .sticky-inner-wrapper {
  // background-color: #e5ebf2 !important;
  padding-bottom: 16px;
}
