.pageButton {
  border: 1px solid $accent-4;
  height: 40px;
  display: inline-block;
  line-height: 30px;
  margin: 0 auto;
  color: $accent-4;
  font-weight: normal;
  font-size: $body;
  padding: 0 15px;
  font-family: $body-font;
  transition: all 0.25s ease;
  background-color: rgba(200, 200, 200, 0);

  &:hover {
    cursor: pointer;
  }
}

.pageSelectionContainer {
  flex: 1;
  display: "flex";
  flex-direction: "row";
  justify-content: "space-around";
}

.schemeInfoContainer {
  // background-color: rgba(252, 253, 255, 1);
  color: #fff;
  font-size: 11px;
  font-family: "Open Sans";
  font-weight: normal;
  // border-radius: 0 14px 14px 14px;
  min-width: 340px;

  &Table {
        padding: 15px 35px;
  }

  h3 {
    margin: 0;
    font-size: 16px;
    font-family: "AccordBold";
    // border-bottom: 1px solid #e9eef4;
    border-bottom: 1px solid #ffffff17;
    padding: 15px 0;
  }

  .infoCardContent {
    padding: 15px 0;
    width: 100%;
    border-spacing: 0px;

    td, th {
      position: relative;
      font-family: Montserrat;
      font-weight: 300;
      // font-size: 13px;

      a {
        color: #fff;
      }

      & > span {
        position: relative;
        z-index: 1;
        display: inline-block;
        
      }

      &:before {
        position: absolute;
        top: 4px;
        left: 0;
        width: 100%;
        content: '';
        height: calc(100% - 8px);
        background: #010b2b60;
        z-index: 0;
      }
    }

    th {
      padding-left: 15px;
    }

    td {
      padding: 11px 15px 11px 0;
      text-align: right;
    }
  }

  th {
    text-align: left;
    font-weight: normal;
    min-width: 75px;
  }
}

.ellipsis {
  position: relative;
  width: 75%;

  span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    position: absolute;
    right: -15px;
    top: 0;
    cursor: pointer;
  }
}

.timeSection {
  display: inline-block;

  strong {
    font-weight: normal;
    font-family: $body-font;
  }

  .colon {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.copyButton {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 16px;

  img {
    position: absolute;
    display: block;
    top: 0%;
    transform: translateY(-75%);
  }
  // top: 50%;
  // transform: translateY(-50%);
}

@media (max-width: 768px) {

  .schemeInfoContainer {

    &Table {
      padding: 10px;
    }

    .infoCardContent {
      td, th {
        & > span {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    display: inline-block;
          
        }
      }
    }
  }

}

@media only screen and (max-width: 425px) {
  .ellipsis {
    position: relative;
    width: 35%;
  }
}
