.sidebarWrapper {
  min-width: 48px;
  // max-width: 470px;
  // max-width: 250px;
  // position: fixed;
  // width: 100%;
  // top: 93px;
  max-width: 100%;
  height: 100%;
  color: $white;
  flex-grow: 1;
  overflow: visible;
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 40px 50px 0 50px;
  color: $links_color;

  // &:hover {
  //   z-index: 1000;
  // }
}

.menuContent {
  position: relative;
  height: 100%;
  min-height: 780px;
  height: -webkit-fill-available;
  height: -opera-fill-available;
  // background-color: $sky;
  background-color: $white_bg;

  .daoIcon {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 40px;
    background-repeat: repeat;
  }

  .daoName {
    padding: 20px;

    a {
      display: block;
      position: relative;
      font-size: 29px;
      line-height: 29px;
      font-weight: bold;

      em {
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0.5;
        z-index: 0;
        background-color: rgba(255, 255, 255, 0.5);
        top: -5px;
        left: -5px;
        border-radius: 50px;
      }

      b {
        position: relative;
        z-index: 100;
      }
      span {
        position: absolute;
        padding-left: 60px;
        top: 50%;
        left: 0;
        margin-top: -3px;
        transform: translateY(-50%);
      }
    }

    a:visited {
      color: $white;
    }

    p {
      font-size: 14px;
      opacity: 0.7;
      padding: 0;
    }
  }

  .followButton {
    margin-top: 15px;
    margin-left: 20px;
  }

  .daoNavigation {
    font-family: "Open Sans";
    margin-bottom: 40px;

    ul {
      margin-top: 15px;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      span {
        &.menuIcon {
          display: grid;
          grid-template-columns: 25px 1fr;
          grid-gap: 12px;
          align-items: center;
          img {
            position: relative;
            opacity: 0.5;
            margin: 0 auto;
            top: auto;
          }
        }
      }

      .notification {
        width: 4px;
        height: 8px;
        border-radius: 8px;
        position: relative;
        top: -2px;
        background-color: $accent-2;
        display: inline-block;
        opacity: 0;
      }

      img {
        margin-left: 2px;
        position: relative;
        top: 3px;
        margin-right: 8px;
        opacity: 0.5;
      }
    }
    li a {
      // display: block;

      display: grid;
      grid-template-columns: auto auto 1fr;

      font-size: 14px;
      // color: $white;
      color: $links_color;
      padding: 8px 23px 8px 8px;
      background-color: rgba(32, 104, 188, 0);
      transition: all 0.25s ease;
      // font-family: 'Source Sans Pro', sans-serif;
      font-family: 'TransatBold';
      font-size: 19px;
      line-height: 24px;
      font-weight: normal;
      position: relative;
    }

    li a:visited {
      // color: $white;
      color: $links_color;
    }

    li a:hover {
      // background-color: rgba(32, 104, 188, 1);
      background-color: #f5f5f5;
    }
  }
}

.daoDescription {
  padding: 0px 20px 0px 20px;

  p {
    padding: 0;
    margin: 0;
    font-size: 13px;
  }

  a {
    text-decoration: underline;
    // color: white;
    color: $links_color;
  }

  a:hover {
    color: silver;
  }
}

.daoNavHeading {
  font-family: "Open Sans";
  font-size: 11px;
  // border-bottom: 1px solid rgba(78, 137, 209, 1);
  width: 100%;
  display: block;

  b {
    display: inline-block;
    // background-color: #3178ca;
    margin-right: 10px;
    position: relative;
    left: 11px;
    top: 17px;
    padding: 0 10px 22px 10px;
    font-weight: normal;
    // color: rgba(255, 255, 255, 0.5);
    color: #010B2B;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
}

.daoHoldings {
  display: block;
  margin-bottom: 40px;

  .daoNavHeading b {
    padding: 10px 25px 10px 10px;
  }

  .daoNavHeading {
    margin-top: -30px;
  }

  .daoNavHeading a {
    display: inline-block;
    position: relative;
    top: 16px;
    left: -15px;
  }

  ul {
    margin-top: 15px;
    padding: 0;

    li {
      padding: 8px 23px;
      font-size: 14px;
      list-style: none;
    }
  }
}

.siteLinksWrapper {
  // display: none;
  // margin-bottom: 40px;
  // position: absolute;
  // height: 270px;
  left: 0;
  width: 100%;
  // border-top: 2px solid rgba(78, 137, 208, 1);
  transition: all 0.25s ease;
  // padding-top: 20px;

  ul {
    width: 100%;
    margin: 0;
    transition: all 0.25s ease;
    padding: 0;
    position: relative;

    li {
      position: relative;
      list-style: none;
      margin: 0;
      width: 100%;
      height: 24px;

      a {
        // color: rgba(196, 215, 236, 1);
        color: #010b2b;
        text-decoration: none;
        padding: 5px 0 5px 23px;
        width: auto;
        display: block;
        font-family: "Open Sans";
        font-size: 12px;
        transition: all 0.25s ease;
      }

      &:hover a {
        background-color:#f5f5f5;
        cursor: pointer;
      }

      &:hover ul li a {
        background-color: rgba(255, 255, 255, 0);
      }

      ul {
        left: 50px;
        top: calc(50% - 26px);
        width: 130px;
        opacity: 0;
        transform: scale(0) translate(0, -50%);
        transition: all 0.25s ease;
        padding: 10px 0 10px 0;
        background-color: rgba(255, 255, 255, 1);
        // border-radius: 0 10px 10px 0;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        z-index: 999;

        .diamond {
          width: 10px;
          height: 10px;
          background-color: #fff;
          position: absolute;
          z-index: 0;
          top: 50%;
          transform: translateY(-5px) rotate(45deg);
          left: -5px;
        }

        span {
          &.soon {
            padding: 0 10px;
            margin: 0;
            display: block;
          }
        }

        li {
          text-align: left;
          position: relative;
          z-index: 1000;
          height: auto;

          a {
            padding: 8px 10px;
            color: rgba(78, 97, 118, 1);

            b {
              display: inline-block;
              width: 35px;
              text-align: center;
            }
          }

          &:hover a {
            background-color: rgba(240, 245, 251, 1);
          }

          img {
            position: relative;
            top: 0;
            height: 14px;
            left: 0;
            margin-right: 5px;
          }
        }
      }
      &:hover ul {
        left: -8px;
        opacity: 1;
        // top: -160px;
        transform: translate(100%, -50%) scale(1);
        background-color: rgba(255, 255, 255, 1);
      }
    }

    li.daoStack {
      // padding-top: 10px;
      height: auto;

      a {
        // color: white;
        font-family: "AccordBold";
        font-size: 13px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 7px;
      }

      img {
        margin-top: -6px;
        top: 5px;
        position: relative;
      }
    }
  }
}

.menuDot {
  height: 8px;
  width: 8px;
  margin-left: 0;
  display: inline-block;

  &.red {
    background-color: #f65050;
    border-radius: 50%;
    bottom: 2px;
    position: relative;
  }
}

.homeNotification,
.holdersNotification,
.historyNotification,
.discussionNotification {
  opacity: 0;
}

.sidebarWrapper.noDAO {
  width: 125px;

  .menuContent {
    background-color: transparent;
  }

  .siteLinksWrapper {
    border-top: none;

    ul {
      li {
        a {
          color: #4f6176;
        }

        &:hover a {
          background-color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 1580px) {
  .sidebarWrapper {
    padding: 20px 25px;
  }
}

@media (max-width: 992px) {
    .sidebarWrapper {
        // display: block;
        position: fixed;
        // top: 0;
        overflow: scroll;
        right: 0;
        left: 0;
        top: 64px;
        height: 100%;
        padding: 0;
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.2s;
        // min-height: 900px;

        &.menuOpen {
            // display: block;
            height: 100%;
            z-index: 1000;
            width: 100%;
            transform: translateX(0%);
            opacity: 1;
            background: #fff;
            transition: 0.2s;

            .menuContent {
                min-height: 900px;
            }
        }

        .daoHoldings {
            ul {
                overflow: hidden;
                li {
                    display: inline-block;
                    float: left;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .sidebarWrapper.menuOpen {
        .menuContent {
            min-height: 720px;
        }
    }
}

@media only screen and (max-width: 425px) {
  .sidebarWrapper {
    width: 48px;
    max-width: 100%;
    height: auto;
    flex-grow: unset;
    // z-index: 100000;
    background-color: rgba(49, 120, 202, 0);
    transition: height 0.25s ease, width 0s 0.25s;

    &:hover {
      z-index: 100000;
    }

    .menuContent {
      height: 0px;
      min-height: auto;
      overflow: hidden;
      transition: all 0.25s ease;

      .daoName {
        padding: 20px 20px 10px 20px;
      }

      .daoName a span {
        position: absolute;
        padding-left: 0;
        top: -5px;
        left: 64px;
        margin-top: -3px;
        transform: translateY(0);
        font-size: 13px;
      }

      .followButton {
        margin-top: 5px;
      }
      .daoNavigation li a {
        padding: 4px 23px 4px 8px;
      }
    }
  }

  .daoDescription {
    position: absolute;
    top: 35px;
    left: 64px;
    font-size: 12px;
  }

  .sidebarWrapper.menuOpen {
    // z-index: 1000000;
    width: 100%;
    // background-color: rgba(49, 120, 202, 1);
    padding-bottom: 50px;
    // transition: width 0s 0s, height 0.25s ease;

    .menuContent {
      height: 520px;
    }
  }

  .daoNavHeading {
    margin-top: -5px;
  }

  .daoHoldings ul li {
    display: inline-block;
  }

  .siteLinksWrapper {
    position: relative;
    height: auto;
    padding-bottom: 20px;

    ul li {
      height: auto;

      a {
        padding: 3px 0 3px 30px;
      }
    }

    ul li:hover ul {
      left: 40px;
      top: -20px;
    }

    ul li ul {
      position: absolute;
    }
  }
} /* EO @media only screen and (max-width: 425px) */
