button:hover {
  cursor: pointer;
}

.wrapper {
  flex-grow: 2;
  padding: 30px 50px 100px 50px;
  overflow: visible;
  z-index: 0;
  position: relative;
}

.outer {
  display: flex;
  height: 100%;
  width: 100%;
}

.memberHeaderTable {
  padding: 0 15px 0 15px;
}

.memberTable,
.memberTableHeading {
  width: 100%;

  tr {
    width: 100%;

    .memberAvatar {
      width: 40px;

      img {
        margin-right: 20px;
      }
    }

    .memberName {
      font-size: 13px;
      // color: rgba(0, 29, 53, 1);
      color: #fff;
      text-align: left;
      width: 200px;

      // > div {
      //   width: 200px;
      //   overflow: hidden;
      // }
    }

    .memberAddress {
      // font-size: 11px;
      // color: rgba(78, 97, 118, 1);
      color: #FFFFFF;
      line-height: 20px;
      font-size: 12px;
      // opacity: 0.5;
      text-align: left;
      width: 370px;
    }

    .memberReputation {
      // color: rgba(0, 29, 53, 1);
      color: #FFFFFF;
      line-height: 20px;
      font-size: 12px;
      // opacity: 0.5;
      text-align: left;
      width: 200px;
      // font-size: 13px;

      .reputationAmount {
        display: inline-block;
        margin-right: 5px;
      }

      .reputationAmounts {
        display: inline-block;
      }
    }

    .memberSocial {
      text-align: right;
      min-width: 110px;

      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.memberTableHeading {
  font-size: 13px;
  font-weight: bold;
  // color: rgba(0, 29, 53, 1);
  color: #fff;
  text-align: center;

  tr {
    .memberAvatar {
      min-width: 80px;
    }

    .memberAddress {
      font-size: 13px;
    }

    .memberSocial {
      min-width: 110px;
    }
  }
}

.proposalHistoryTable {
  width: 100%;
  border-collapse: collapse;
}

.proposalHistoryTableHeader {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: left;
}

.noticeWrapper {
  width: 100%;
  position: fixed;
  display: flex;
  height: 40px;
  bottom: 0;
  left: 0;
  z-index: 100000;
}

.noticeBuffer {
  min-width: 470px;
  max-width: 470px;
  flex-grow: 1;
  height: 100%;
}

.notice {
  flex-grow: 2;
  background-color: white;
  padding: 11px 8px;
  color: rgba(78, 97, 118, 1);
  font-size: 11px;
  text-align: left;
  font-family: "Open Sans";
  width: 100%;

  div {
    padding-left: 15px;

    img {
      margin-right: 8px;
    }

    b {
      color: $accent-3;
    }
  }

  .notice::after {
    content: "";
    clear: both;
    display: table;
  }
  .closeNotice {
    position: absolute;
    border: none;
    outline: none;
    right: 6px;
    top: 13px;
  }
}

.membersContainer {
  margin: 10px auto;
  // max-width: 980px;
  max-width: 1230px;


  table {
    width: 100%;
  }

  h1 {
    font-size: 50px;
    color: #FFF;
    margin: 0;
  }

  h2 {
    // font-size: 28px;
    color: #fff;
    padding: 0;
    margin: 0;
    // border-bottom: 1px solid rgba(195, 212, 231, 1);
    margin-bottom: 15px;
    padding-bottom: 3px;
    // background-color: rgba(229, 235, 242, 1);
    padding-top: 10px;
    text-transform: uppercase;
  }

  h3 {
      text-align: center;
      color: #fff;
      line-height: 31px;
    //   font-size: 19px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      font-weight: 100;
      font-family: Arial;
      padding: 0 0 20px 0;
  }


  .columnsTwo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      padding: 100px 0 0 0;

        .dashBlock {
            grid-template-columns: 120px 1fr;

            .count {
                grid-column: 1/3;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    font-size: 20px;
                    overflow: hidden;

                    & > li {
                        float: left;
                        padding: 0 23px;

                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        span {
                            display: block;
                            text-transform: uppercase;
                            line-height: 32px;
                            font-size: 20px;
                        }

                        p {
                            margin: 0;
                            line-height: normal;
                        }
                    }
                }
            }
        }

  }


  .keyParametrs {
      line-height: normal;

      p {
          &.description {
            font-weight: bold;
            font-size: 18px;
            line-height: 32px;
            font-family: Montserrat;
            padding-left: 80px;
            color: #fff;
            font-family: Montserrat;

            padding-bottom: 200px;
          }
      }
  }

  .comingSoon {
        border: 1px solid rgba(255, 255, 255, 0.4);
        padding: 35px 35px 10px 35px;

        h2 {
            padding-top: 0;
        }

        .dashBlock {
            .icon {
                opacity: 0.4;
            }

            .count {
                opacity: 0.4;
            }

            .cont {
                opacity: 0.4;
            }
        }
  }

      .dashBlock {
          line-height: normal;
          color: #fff;
          display: grid;
          grid-template-columns: 120px auto 1fr;
          grid-gap: 70px;
          align-items: center;
          padding: 50px 40px;
          position: relative;
          margin-bottom: 26px;

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: rgba(255, 255, 255, 0.05);
            opacity: 0.8;
            border: 1px solid rgba(255, 255, 255, 0.05);
            box-sizing: border-box;
            backdrop-filter: blur(40px);
          }

          .icon {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                box-shadow: 2px 2px 10px #ff0000a1;
                position: relative;
          }

          .count {
            font-weight: 300;
            font-family: Montserrat;
            line-height: 73px;
            font-size: 60px;
            position: relative;
          }

          .cont {
            position: relative;
              h4 {
                font-weight: bold;
                font-size: 32px;  
                line-height: 34px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                margin: 0;
              }
              p {
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                color: #D8D8D8;
                font-family: Montserrat;
              }
          }
      }


}

.member {
  padding: 5px 0;
  display: flex;
  font-family: $body-font;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;

  img {
    flex: none;
    width: 40px;
  }

  .socialButton {
    padding: 2px 4px;
    display: inline-block;
  }
}

.member {
  padding: 14px 15px;
  margin-bottom: 14px;
  position: relative;
  // background-color: white;
  // border-radius: 3px;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    opacity: 0.8;
  }

  & > a {
    position: relative;
  }
}

a {
  text-decoration: none;
}

.holdings {
  float: right;
  width: 180px;
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;

  h4 {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -7px;
  }
  div {
    opacity: 0.75;
  }
}

.daoInfo {
  max-width: 500px;
  position: relative;
  float: left;

  .daoReputationInfo {
    font-size: $caption;
    color: $black-halftone;

    img {
      position: relative;
      top: 4px;
      margin-right: 5px;
    }

    a {
      opacity: 0.5;
      text-decoration: underline;
      color: $black-septone;
    }

    a:visited {
      color: $black-halftone;
    }
  }
}

.daoHistoryHeader {
  font-size: 28px;
  // color: rgba(104, 155, 214, 1);
  color: #fff;
  // border-bottom: 1px solid rgba(45, 109, 181, 0.2);
  padding-bottom: 5px;
  font-weight: bold;
  // margin-bottom: 30px;
  // background-color: rgba(229, 235, 242, 1);
  // padding-top: 10px;
}

@media only screen and (max-width: 425px) {
  .outer {
    display: block;
    position: relative;
  }

  .memberTable {
    display: block;
    width: 100%;

    tr {
      display: block;

      .memberReputation .reputationAmount {
        display: none;
      }

      td {
        display: block;
      }
    }
  }

  .memberTable.memberTableHeading {
    display: none;
  }

  .wrapper {
    padding: 50px 0 100px 0;
  }

  .noticeWrapper {
    height: 52px;

    .noticeBuffer {
      display: none;
    }

    .notice {
      font-size: 10px;
      padding-right: 70px;
      box-shadow: 0 2px 16px 0 rgba(133, 168, 208, 0.4);

      div {
        padding-left: 0;

        img {
          height: 18px;
          float: left;
          position: relative;
          top: 5px;
        }
      }

      .closeNotice {
        background-color: transparent;
      }
    }
  }

  .reputationAmounts {
    position: absolute;
    right: 10px;
    top: 21px;
    font-size: 12px;
    font-weight: normal;
  }

  .noProfile {
    opacity: 0.4;
  }

  .member {
    position: relative;
  }

  .membersContainer h2 {
    padding-left: 10px;
  }

  .daoHistoryHeader {
    padding-left: 10px;
  }

  .proposalHistoryTableHeader {
    display: none;
  }
}

:global .infinite-scroll-component {
  overflow: visible !important; // to avoid clipping of for user account popup in regular proposals list
}
