.wrapper {
  width: 100%;

  h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    // border-bottom: 1px solid rgba(195, 212, 231, 1);
    width: 100%;
    // padding-top: 30px;
    // background-color: rgba(229, 235, 242, 1);
    margin: 0;
  }
}

a {
        &.redButton {
            color: #fff;
            font-family: Montserrat;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 1.61455px;
            text-transform: uppercase; 
            padding: 14px 70px;
            border: 1px solid #D40D26;
            border-radius: 50px;
            background: #D40D26;
            outline: none;
            position: relative;
            transition: 0.1s all;
            display: block;
            font-size: 14px;
            text-align: center;
            box-shadow: 0px 0px 30px rgba(225, 41, 66, 0.7); 

            &:hover {
                box-shadow: none;
            }
      }
}

  .pageHead {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      grid-gap: 50px;
      margin-bottom: 20px;
  }

.fadeEnter {
  opacity: 0.01;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.allSchemes {
  padding-top: 30px;
}

@media (max-width: 992px) {
        .pageHead {
            grid-template-columns: 1fr;
            grid-gap: 30px;
        }
}

@media only screen and (max-width: 425px) {
  .wrapper h1 {
    padding-left: 10px;
  }
}
