.loading {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;

  img {
    width: 40px;
  }

  a {
    color: $gray-1;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.wrapper {
  // background: white;
  width: 100%;
  margin: 0 0 40px 0;
  position: relative;
  float: left;
  // border-radius: 20px 20px 0 0;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    background: url(/assets/images/bg_blur.png) repeat;
      background-size: cover;
  }

  h1 {
    border-bottom: 1px solid rgba(45, 109, 181, 0.2);
    color: rgba(104, 155, 214, 1);
    padding-bottom: 3px;
  }

  a.headerLink {
    position: relative;
    padding: 25px;
    display: block;
    border-radius: 20px 20px 0 0;
    transition: all 0.25s ease;

    h2 {
      color: #fff;
      text-transform: uppercase;
      line-height: normal;
    }

    div {
      // padding-top: 10px;
      font-size: 16px;
      font-family: $body-font;
      text-transform: uppercase;
      color: #fff;

      &.headerItems {
        line-height: normal;
        display: flex;
            justify-content: space-between;

        & > div {
          flex-basis: auto;
          display: inline-block;
          font-size: 15px;
          color: #fff;
          margin-right: 20px;
          font-weight: bold;

          &:last-child {
            margin: 0;
          }

          b {
            display: inline-block;
            border: 0.391265px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            font-size: 22px;
          }
        }
      }

      b {
        // color: rgba(0, 29, 52, 1);
        color: #fff;
        font-size: 21px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
            padding: 0 5px;
      }

      span {
        // color: $gray-1;
        text-transform: uppercase;
        font-weight: normal;
        margin-right: 7px;
      }
    }

    div.loading {
      padding-top: 30px;

      div {
        // color: $gray-1;
      }
    }

    // &:hover {
    //   border: 1px solid rgba(172, 199, 230, 1);
    // }
  }

  h2 {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}

.unsupportedScheme {
  h2 {
    padding: 25px;
  }

  div {
    text-align: center;
    padding: 0 25px 25px 25px;
  }
}

a.proposalTitle {
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    border: 1px solid $white;
    border-top: 1px solid rgba(224, 232, 241, 1);
    font-size: 11px;
    color: rgba(80, 97, 118, 1);
    transition: all 0.25s ease;

    &:hover {
      border: 1px solid rgba(172, 199, 230, 1);
    }

    .miniGraph {
      vertical-align: middle;
      padding-left: 16px;
    }

    .title {
      flex-grow: 2;
      padding-left: 8px;
      padding-right: 8px;
    }

    .countdown {
      font-weight: normal;
      color: $gray-1;
      padding-right: 16px;
    }
  }
}

.numProposals {
  position: absolute;
  bottom: -20px;
  font-size: 11px;

  a {
    color: rgba(0, 113, 255, 1);
    font-family: $body-font;
  }
}

@media (max-width: 992px) {
  .wrapper {
    a.headerLink {
      div {
        &.headerItems {
          display: grid;
          justify-content: normal;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {

  .wrapper {
    border-radius: 0;
    width: 100%;
  }



  .numProposals {
    padding-left: 10px;
  }
}
