.wrapper {
  // background: white;
  width: 47.5%;
  margin: 0 2.5% 40px 0;
  position: relative;
  float: left;
  border-radius: 20px 20px 0 0;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(255, 255, 255, 0.05);
    opacity: 0.8;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    // backdrop-filter: blur(40px);
    background: url(/assets/images/bg_blur.png) repeat;
    background-size: cover;
  }

  h2 {
    display: block;
    // color: #001d34;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
  }

  .body {
    margin: 0 25px;
    margin-bottom: 0;
    position: relative;
  }

  table {
    width: 100%;
    border-spacing: 0;
    position: relative;

    td {
      vertical-align: middle;
      // border: 1px solid white;
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 11px;
      color: rgba(80, 97, 118, 1.000);
    }

    td img.attention {
      padding-right:4px;
      width: 16px;
      height: 16px;
      position: relative;
      bottom: -1px;
    }

    td.left {
      width: 8px;
      max-width: 8px;
      min-width: 8px;
    }

    .schemeLink {
      display:inline-block;
      color: rgba(154, 169, 181, 1.000);
      position: relative;
      bottom: 3px;
    }

    .schemeLink:hover {
      text-decoration: underline;
    }

    @media only screen and (max-width: 975px) {
      .schemeLink {
        width:11rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        bottom: 0;
      }
    }

    @media only screen and (max-width: 815px) {
      .schemeLink {
        width:7rem;
      }
    }

    @media only screen and (max-width: 715px) {
      .schemeLink {
        width:6rem;
      }
    }
  }
}


@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin-right: 0;
  }
}