.accountBalance {
  text-align: right;
}

.setupProfile {
  color: #fff;
}

a.historyView {
  display: inline-block;
  color: #506176;
  font-size: 13px;
  width: 90px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  position: relative;
  left: 5px;
}

a.detailView {
  position: relative;
  font-size: 13px;
  color: rgba(85, 85, 85, 1);
  left: 2px;
}

.accountImage {
  // border-radius: 15%;
  vertical-align: middle;
}

.socialProof {
  display: block;
}

.targetAccount {
  position: relative;
  display: inline-block;
  overflow: visible;
  transition: all 0.25s ease;
  margin-right: 6px;
  vertical-align: middle;

  .avatar {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.25s ease;

    img {
      transition: all 0.25s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .accountInfo {
    position: absolute;
    z-index: 0;
    opacity: 0;
    left: 50%;
    top: -150px;
    padding: 40px 0 0 0;
    width: 360px;
    font-size: $caption;
    color: $black;
    z-index: 0;
    transform: translateX(-50%) scale(0);
    background-color: $white;
    border-radius: 10px;
    transition: all 0.25s ease;
    // box-shadow: $shadow-3;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    text-align: center;
        overflow: hidden;

      .socials {
        line-height: normal; 
        padding-bottom: 20px;
      }

    .name {
      font-size: 14px;
      padding-bottom: 10px;

      a {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 26px;
          line-height: 36px;
          text-align: center;
          letter-spacing: 1px;
          color: #020A28;
      }
    }

    .button {
      padding: 20px 0;
      text-align: center;

      button {
        display: inline-block;
      }
    }

    .beneficiaryAddress {
      overflow: hidden;
      width: calc(100% - 60px);
      padding: 10px 30px;
      position: relative;
      text-align: left;
      background: #010B2B;
      color: #fff;

      & > div {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr auto;
        align-items: center;
        grid-gap: 15px;
        max-width: 253px;
      }

      span {
        display: inline-block;
        width: 199px;
        // padding-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      button {
        // position: absolute;
        // top: 0;
        // right: 0;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .socialButton {
      padding: 5px 4px;
      display: inline-block;

      .icon {
        width: 20px;
        height: 20px;
      }
    }

    .holdings {
      padding: 20px 0;
      // margin-top: 10px;
      text-align: center;
      background-color: rgba(242, 242, 242, 1);
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #2C2C2C;
      font-family: TransatMedium;

      & > span {
        // font-size: $small;
        color: $black-halftone;
        padding-right: 20px;
      }

      & > div {
        display: inline-block;
      }
    }

    .viewProfile {
      border: 1px solid white;
      background-color: transparent;
      color: $white;
      display: block;
      margin: 30px auto 0 auto;
      padding: 8px 10px;
    }
  }
}

a.accountName {
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  // line-height: 32px;
}

.targetAccount:hover {
  z-index: 10000000;

  .avatar {
    width: 80px;
    height: 80px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .accountInfo {
    opacity: 1;
    top: 0px;
    transform: translateX(-50%) scale(1);
  }
}

/***** Account Profile ******/
.profileWrapper {
  display: flex;
  height: 100%;
}

.profileData {
  flex-grow: 2;
  color: #fff;

  div {
    display: inline-block;
  }
}

.profileDescription {
  color: #fff;
  font-family: Montserrat;
  margin-bottom: 25px;

  label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
  }

  div {
    font-size: 12px;
    line-height: 20px;
    padding-top: 7px;
  }

}

.profileContainer {
  // max-width: 700px;
  width: calc(100% - 160px);
  padding: 0 80px;
  // border-radius: 15px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  form {
    // padding: 40px;
    // background-color: $white;
    // border-radius: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 35%;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      // background: rgba(255, 255, 255, 0.05);
      opacity: 0.8;
      border: 1px solid rgba(255, 255, 255, 0.05);
      box-sizing: border-box;
      // backdrop-filter: blur(40px);
      background: url(/assets/images/bg_blur.png) repeat;
      background-size: cover;
    }
  }

  .profileContent {
    display: block;
    position: relative;
    padding: 40px;

    .followButton {
      margin-top: 10px;
      button {
        border: 0;
        background: #D40D26;
        box-shadow: 0px 0px 30px rgba(225, 41, 66, 0.7);
        border-radius: 100px;
        color: #fff;
        letter-spacing: 1.2px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        font-family: 'Montserrat', sans-serif;
        padding: 18px 42px;
        text-transform: uppercase;
        transition: 0.1s all;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  .userAvatarContainer {
    width: 100px;
  }

  .saveProfile {
    display: block;
    text-align: right;
  }

  .profileDataContainer {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;

    label {
      padding-right: 10px;
    }

    .charLimit {
      font-size: 12px;
      text-align: right;
    }
  }

  .otherInfoContainer {
    width: 100%;
    background: #010B2B;
    position: relative;
    padding: 40px;

    strong {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
      color: #fff;
    }

    span {
      // color: #76c9de;
      font-weight: bold;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
    }

    .tokens {
      > div {
        display: block;
        // width: 33%;
      }
    }

    div {
      margin-bottom: 20px;
    }

    .copyButton {
      border: none;
      vertical-align: middle;
      background: none;
    }

    p {
      padding: 0;
      margin-top: 5px;
      font-size: 12px;
    }
  }

  input,
  textarea {
    display: block;
    border: 1px solid #ffffff0d;
    padding: 15px;
    width: 95%;
    font-size: 14px;
    background: #ffffff0a;
    color: #fff;
    font-family: "Open Sans";
    outline: none;

    &::placeholder {
      color: #ffffff4d;
    }
  }

  .socialButton {
    width: 33%;
    display: block;

    button {
      border: none;

      :hover {
        color: #76c9de;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.profileContainer.withDao {
  padding-left: 0px;
}

.socialLogins {
  position: relative;
  padding-bottom: 20px;
  width: 100%;
  color: #fff;

  h3 {
    padding-bottom: 20px;
  }

  a {
    color: #fff;
    padding: 3px 0;
  }
}

.socialButtonAuthenticated {
  .icon {
    color: #76c9de;
  }
}

input {
  &.error {
    border-bottom: 2px solid red;
  }
}

.errorMessage {
  position: relative;
  color: red;
}

.submitButton {
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-weight: bold;
  color: $white;
  transition: all 0.25s ease;
  background-color: rgba(3, 118, 255, 1);
  border-radius: 30px;
  border: none;
  font-size: 14px;
  padding: 0 15px;
  outline: none;
  // margin-right: 45px;
  // margin-top: 30px;

  &:hover {
    cursor: pointer;
  }

  .loading {
    width: 18px;
    display: none;
    margin: 0;
    vertical-align: middle;
  }
}
.submitButton:disabled .loading {
  display: inline-block;
}

.submitButton:disabled {
  background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid rgba(200, 200, 200, 1);
  color: rgba(75, 75, 75, 1);
}

.submitButton:disabled .sendIcon {
  display: none;
}

.alignCenter {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 1430px) {
  a.historyView {
    width: 60%;
  }
}

@media only screen and (max-width: 1280px) {
  a.historyView {
    width: 55px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
    .targetAccount:hover {
    .avatar {
        width: 80px;
        height: 80px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .accountInfo {
        opacity: 1;
        top: 0px;
        transform: translateX(-5%) scale(1);
        width: 260px;
        padding-top: 20px;

        .name {
            a {
                font-size: 16px;
                font-weight: 800;
            }
        }

        .beneficiaryAddress {

            & > div {
                max-width: 183px;
            }
            span {
                width: 140px;
                font-weight: 300;
                text-transform: none;
            }
        }

        .button {
            button {
                padding: 7px 45px;
            }
        }

        .holdings {
            font-size: 16px;
        }
    }
    }
}

@media only screen and (max-width: 425px) {
    .targetAccount {
        width: 12px !important;
    }
  .profileWrapper {
    display: block;
  }

  .profileContainer {
    width: auto;
    padding: 0;

    form {
      border-radius: 0;
      padding: 15px;
    }

    input,
    textarea {
      width: 88%;
    }

    .socialButton button {
      background-color: transparent;
    }

    .profileDataContainer {
      display: block;
    }
  }

  .setupProfile {
    padding: 15px;
  }

  .submitButton {
    margin-right: 0;
    margin-top: 15px;
  }

  .socialProof {
    opacity: 0.6;
    width: 77%;
  }

  a.historyView {
    font-size: 11px;
    width: auto;
  }
}
