.wrapper {
  // background-color: white;
  width: 100%;
  margin: 0 auto 3px auto;
  border-radius: 3px;
  height: 65px;
  position: relative;
  font-size: 13px;
  font-family: $body-font;
  cursor: pointer;

  td {
    position: relative;
    padding-top: 28px;
    padding-bottom: 28px;

    &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: calc(100% - 14px);
            top: 7px;
            left: 0;
            // background: rgba(255, 255, 255, 0.05);
            opacity: 0.8;
            box-sizing: border-box;
            // backdrop-filter: blur(40px);
            z-index: -1;
            border-top: 1px solid rgba(255, 255, 255, 0.05);
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            background: url(/assets/images/bg_blur.png) repeat;
            background-size: cover;
      }

      &.proposalCreator {
        &:after {
          position: absolute;
          height: calc(100% - 14px);
          width: 1px;
          left: 0;
          top: 7px;
          content: '';
          border-left: 1px solid rgba(255, 255, 255, 0.05);
        }
      }
      &.myActions {
        &:after {
          position: absolute;
          height: calc(100% - 14px);
          right: 0;
          width: 1px;
          top: 7px;
          content: '';
          border-right: 1px solid rgba(255, 255, 255, 0.05);
        }
      }
  }

  // &:before {
  //   position: absolute;
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   background: rgba(255, 255, 255, 0.05);
  //   opacity: 0.8;
  //   border: 1px solid rgba(255, 255, 255, 0.05);
  //   box-sizing: border-box;
  //   backdrop-filter: blur(40px);
  // }
}

.proposalCreator {
  width: auto;
  padding-left: 7px;
  cursor: default;
}

.endDate {
  color: $gray-1;
}

.scheme {
  color: $gray-1;
}

.title {
  // color: rgba(80, 97, 118, 1.000);
  color: #fff;

  a {
    color: rgba(80, 97, 118, 1.000);
  }

  a:visited {
    color: rgba(80, 97, 118, 1.000);
  }
}

.closeReason {
  position: relative;

  .decisionPassed, .decisionFailed {
    display: none;

    img {
      width: 15px;
      position: relative;
      top: 4px;
      margin-right: 5px;
    }
  }

  .decisionFailed {
    color: #D40D26;
  }

  .decisionReason {
    color: $gray-1;
  }
}

.closeReason.decisionPassed .decisionPassed, .closeReason.decisionFailed .decisionFailed {
  display: block;
}

.predictions, .votes, .myActions {
  .myVote, .myStake, .passVote, .failVote, .forStake, .againstStake {
    display: none;
  }
}

.myActions.iVoted .myVote, .myActions.iStaked .myStake {
  display: block;
  padding-bottom: 5px;
}

.myActions.forStake .forStake, .myActions.againstStake .againstStake, .myActions.passVote .passVote, .myActions.failVote .failVote {
  display: inline-block;
  margin-left: 7px;
  position: relative;
  top: 3px;
}

.myActions {
  color: rgba(80, 97, 118, 1.000);
  padding-top: 10px;
  text-align: center;
}

.voteControls {
  position: relative;

  button span {
    font-weight: normal;
    color: $gray-1;
  }

  span {
    font-weight: normal;
    color: $gray-1;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    // height: 110px;
    padding: 30px 10px;
    display: block;
    width: auto;
    border-top: 1px solid;
    height: auto;

    td {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;

      &.title {
        padding: 5px 0 5px 8px;
      }

      img {
        max-width: 16px;
      }

      &:before {
        display: none;
      }
    }

    .scheme {
      display: none;
    }

    .myActions {
      display: none;
    }
  }

  .endDate {
    text-align: right;
    font-size: 11px;
    float: right;
  }

  .title {
    width: 100%;
    padding: 0 0 15px 8px;
    font-weight: bold;
    font-size: 13px;
  }

  // .closeReason {

  // }

  // .votes {

  // }

  // .predictions {

  // }

  .closeReason .decisionReason {
    display: block;
  }
}
