button.disabled {
  cursor: not-allowed !important;
}

.loading {
  display: none;
  position: absolute;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 15%;
  text-align: center;
  z-index: 100000;
  box-shadow: $shadow-2;
  border-radius: 3px;
  background-color: $white;

  img {
    height: 35px;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
  }
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  color: #fff;

  &Title {
    display: flex;
    align-items: center;
    font-family: TransatBold;
    text-transform: uppercase;
    margin-bottom: 40px;

    h2 {
      display: inline-block;
      padding-right: 27px;
      // font-size: 50px;
      // line-height: 60px;
      margin: 0;
    }

    h4 {
      display: inline-block;
      position: relative;
      padding-left: 44px;
      font-size: 20px;
      line-height: 60px;
      font-weight: normal;
      margin: 0;

      &:before {
        position: absolute;
        left: 0;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        width: 17px;
        height: 17px;
        background: url(/assets/images/arrow_right.svg) no-repeat;
        background-size: contain;
      }
    }
  }

  &Cont {
    position: relative;
    // padding: 47px 46px;
    // width: calc(100% - 92px);
    width: 100%;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgba(255, 255, 255, 0.05);
      opacity: 0.8;
      border: 1px solid rgba(255, 255, 255, 0.05);
      box-sizing: border-box;
      // backdrop-filter: blur(40px);
      background: url(/assets/images/bg_blur.png) repeat;
      background-size: cover;
    }
  }
}

.disqus {
  position: relative;
  color: #fff;
}

.clickable {
  cursor: pointer;
  font-family: TransatStandard;
      font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #ffffff5e;
}

.proposal {
  // border-radius: 15px;
  background-color: transparent;
  margin-right: 20px;
  margin-bottom: 0px;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: all .25s ease;
  vertical-align: top;
  height: auto;
  overflow: visible;
  justify-content: center;
  width: 100%;
}

.proposalInfo {
  font-size: $body;
  flex-grow: 2;
  // padding-right: 25px;
  position: relative;
  

  &Cont {
    padding: 35px 46px;
  }

  .actionButtonContainer {
    display: inline-block;
    margin-right: 16px;
  }

  .gotoCompetition {
    display: inline-block;

    &.hidden {
      display: none;
    }
    a {
      white-space: nowrap;
      color: #0071ff;
    }
  }

  // a {
  //   color: $black;
  // }

  a.attachmentLink, a.attachmentLink:visited {
    font-size: 11px;
    color: #42E8E0;
    display: inline-block;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-gap: 20px;
    align-items: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;

    img {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
  }

  h3 {
    font-size: 28px;
    // margin: 4px 10px 10px 0px;
  }

  .closedTime {
    position: relative;
    display: block;
    font-weight: $normal;
    font-size: 11px;
    color: $black-halftone;
    margin: 6px 0 0 12px;
  }
}

.statusContainer {
  margin-right: 16px;
  display: inline-block;
}

.description {
	margin-bottom: 30px;
	white-space: pre-wrap;
  word-break: break-word;

  img {
    max-width: 100%;
  }

  a {
    color: #0071ff;
  }
}

.votesCount {
  line-height: 28px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: bold;
  background: #D40D26;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
    padding: 7px 27px;
    margin-left: 12px;
}

.statusVote {
  padding: 25px 35px 0 35px;
}

.statusTitle {
  // position: absolute;
  // top: 12px;
  // padding-bottom: 12px;
  // border-bottom: $gray-border-2;
  width: 100%;
  // height: 20px;
  line-height: 20px;
  background: rgba(196, 196, 196, 0.1);
  padding: 17px 35px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 0;

  h3 {
    margin: 0;
    padding: 0;
    // margin-left: 17px;
    display: inline;
    color: #fff;
    font-family: TransatBold;
    font-size: 32px;
  line-height: 42px;
  }

  span {
    display: inline-block;
    padding-left: 10px;
    color: rgba(0, 113, 255, 1.000);
    font-size: 11px;
    margin-left: 10px;
    // border-left: 1px solid rgba(233, 238, 244, 1.000);
  }
}

.voteBox {
  position: relative;
  // background-color: $white;
  // border-right: 1px solid rgba(215, 225, 237, 1.000);
  // border-radius: 15px;
  background: #010B2B;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  // backdrop-filter: blur(40px);
  margin-bottom: 22px;
}

.voteButtons {
  position: relative;
  background: rgba(196, 196, 196, 0.1);
  padding: 10px 33px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  // line-height: 31px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff50;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-top: 0;

}

.altVoteButtons {
  display: block;
  margin-bottom: 20px;
  font-family: Montserrat;
}

.voteStatus {
  // height: 140px;
  // padding-top: 70px;
  padding: 35px 0;

  .voteGraph {
    float: right;
    text-align: left;
    display: inline-block;
    right: 40px;
    // top: 12px;
    position: relative;
  }
}

.predictions {
  // padding-bottom: 12px;
  line-height: 20px;
  position: relative;
  // background-color: white;
  // border-right: 1px solid #d7e1ed;
  // border-radius: 15px;
  margin: 0 0 20px 0px;
  background: #010B2B;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;

  .predictionStatus {
    padding: 25px 0;
  }
}

.stakeButtons {
  position: relative;
  background: rgba(196, 196, 196, 0.1);
  padding: 10px 33px;
  font-family: TransatStandard;
  font-weight: normal;
  font-size: 14px;
  // line-height: 31px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff50;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-top: 0;
  text-align: center;
}

.timer {
  height: 20px;
  text-align: right;
  font-size: 12px;
  border-top: 1px solid #ffffff12;

  .content {
    display: inline-block;
    margin: 6px 0 0 12px;
    opacity: .6;
    color: rgba(104, 155, 214, 1.000);
    font-weight: bold;
  }
}

.proposalTitleTop {
  display: block;
  color: #fff;
  font-size: 32px;
  font-family: TransatBold;
  // margin: 0 0 15px 0;
  background: rgba(196, 196, 196, 0.1);
  padding: 30px 45px;
  margin: 0;

  a {
    color: #fff;
  }
}

.proposalActions {
  position: relative;
  transition: all .25s ease;
  // margin-top: 15px;
  background: #010b2b61;
  padding: 17px 20px;

  flex-grow: 1;
  // min-width: 320px;
  max-width: 465px;
  width: 100%;
  min-width: 300px;
}

.createdBy {
  font-size: $small;
  color: $black-thirdtone;
  margin: 30px 0;
}

.discussionTitle {
  position: relative;
  font-size: 28px;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #ffffff12;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.proposalSummaryContainer {
  position: relative;
  // left: -45px;
  &.hasTags {
    margin-bottom: 18px;
  }
}

.tagsContainer {
  padding-bottom: 0;
}

.buttonBar {
  position: relative;
  top: 20px;

  .voteButtonsBottom {
    // display: inline-block;
    // margin-right: 6px;
    white-space: nowrap;

    .voteLabel {
      // display: inline-block;
      // margin-right: 5px;
      // font-size: 16px;
      font-weight: bold;
      margin: 0 0 10px 0;
      font-size: 22px;
    }
  }

  button.shareButton {
    color: #fff;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.61455px;
    text-transform: uppercase;
    padding: 14px 40px;
    border: 1px solid #D40D26;
    border-radius: 50px;
    background: #D40D26;
    outline: none;
    position: relative;
    transition: 0.1s all;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0px 0px 30px rgba(225, 41, 66, 0.7);

    &:hover {
          box-shadow: none;
    }

    span {
      display: inline-block;
    }

    // img {
    //   margin-right: 6px;
    //   position: relative;
    //   top: 2px;
    //   height: 14px;
    // }
  }

  .followButton {
    margin-left: 7px;
    display: inline-block;
  }

  .disqus {
    position: relative;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .wrapperTitle {
    margin-bottom: 10px;
  }
  .proposal {
    display: block;

    &Actions {
      max-width: calc(100% - 40px);
    }

    &TitleTop {
      padding: 15px;
    }

    &Info {
      &Cont {
        padding: 15px 0;
      }
    }

    &SummaryContainer {
      left: -15px;
    }
  }

  .proposalActions {
    width: calc(100% - 40px);
  }

  .buttonBar {
    button {
      &.shareButton {
        line-height: normal;
        margin-right: 10px;
      }
    }
    .followButton {
      margin: 10px 0 0 0;
    }
  }

  .statusTitle {
    padding: 15px 20px;
    h3 {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

@media only screen and (max-width: 425px) {

  .proposalInfo {
	  padding: 15px;
	  padding-right: 15px;

	  h3 {
	  	font-size: 16px;
	  }
  }

  .voteBox {
    margin: 0 0 20px 0;
    border-radius: 0;
  }

  .predictions {
    margin: 0 0 20px 0;
    border-radius: 0;
  }

  .discussionTitle {
    padding: 5px 15px;
    width: auto;
  }

  .proposalActions {
  	min-width: auto;
    max-width: inherit;
  }

  .disqus {
    padding: 15px;
    position: relative;
  }

  .voteButtonsBottom {
  	display: none;
  }
}
